@import "./../../site";

header {
   background-color: lightgray;
   
    .logo{  
      background-image: url("assets/images/logo/cubic_logo2.png");
   }
}

h1 {
    color:blue;
    font-size: 50px;
}