<!--The whole content below can be removed with the new code.-->
<!--<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
</div>

<div>
  <h2>Details:</h2>
  <div>
    <label>Name: </label>
    <input #firstName [(ngModel)]="user.name" placeholder="name">
  </div>
  <button (click)="onClick(firstName.value)">Click</button>
</div>-->
<div>
  <ul>
    <app-simple-form 
    *ngFor="let message of mail.msgs"
    [inputMsg]="message.text"
    (update)="onUpdate(message.id, $event.text)"></app-simple-form>
  </ul>
</div>
<div>
  {{mail.message}}
</div>

<ul>
  <li *ngFor="let message of mail.msgs">{{message.text}}</li>
</ul>