
<div class="page-wrapper">
    <header role="heading"> 
        <div class="container">
            <a routerLink="/" class="logo"></a>
            <a routerLink="/" routerLinkActive="active">Home</a>
            <a routerLink="/todo" routerLinkActive="active">Todo</a>
            <a routerLink="/page-3" routerLinkActive="active">Sight</a>
        </div>
    </header>
    <main role="main">
      <div class="container">
          <router-outlet></router-outlet>
      </div>
    </main>
    <footer role="main">
      <div>footer</div>
    </footer>
  </div>

