<h1>{{title}}</h1>

<div [style.color]="cssColor">
  Hello {{name}}
</div>
<br/>
 <div class="form-group">
      <div class="input-group">
<!--<input type="text" [value]="name" (blur)="name = $event.target.value">--> 
<input class="form-control" type="text" [(ngModel)]="name">
<button class="btn btn-primary" (click)="changeTextColor()">Change text color</button>
</div>
</div>
<br/>
<br/>
<!--<ul>
  <li *ngFor="let cust of customers">
    <app-customer [customer]="cust" [cssColor]="cssColor"></app-customer>
  </li>
</ul>-->

<app-customers-list></app-customers-list>